<!-- Page Heading -->
<div class="row heading page-header">
	<div class="col-lg-12">
		<!--
		<h1>The Hunt for Macguffins
			<small>Campaign</small>
		</h1>
		<h3>Finding all of the macguffins to save the day probably.</h3>
		-->
		<h1>
			Campaign Rooms
		</h1>
	</div>
</div>
<!-- /.row -->

<!-- Campaign Rooms -->
<%
if(rooms.length)
{
	for(var i = 0; i < rooms.length; i++)
	{
	%>
	<div class="row roomContainer <%= rooms[i].open ? 'open' : 'closed' %>">
		<div class="col-md-12">
			<a href="/room/<%= rooms[i].tag %>">
				<div class="frameContainer">
					<div class="pictureContainer">
						<img src="<%= rooms[i].image %>" alt="">
					</div>
					<span class="roomName"><%= rooms[i].name %></span>
					<span class="roomSubheading"><%= rooms[i].subheading %></span>
					<span class="frame"></span>
				</div>
			</a>
		</div>
	</div>
	<%
	}
}
else
{
%>
	<h1 class="emptyMessage">There are no rooms! Ask your DM to create some.</h1>
<%
}
%>

<!-- Pagination -->
<hr />
<%
if(rooms.length > 6)
{
%>
<div class="row text-center">
	<div class="col-lg-12">
		<ul class="pagination">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li class="active">
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
		</ul>
	</div>
</div>
<!-- /.row -->

<hr />
<%
}
%>